@font-face {
    font-family: 'DINCondensed-Bold';
    font-weight: normal;
    src: url('~assets/fonts/DINCondensed-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-weight: normal;
    src: url('~assets/fonts/DINCondensed-Bold.ttf') format('truetype');
}