
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}

a {
  background-color: transparent;

  cursor: pointer;
  outline: none;
  text-decoration: none !important;;
  -webkit-text-decoration-skip: objects;
  transition: color .3s;

  color: @mainColor;
  &.black {
    color: @fontColor2;
  }

  &:hover {
    color: @mainColor !important;
  }
  &.active {
    color: @mainColor !important;
  }

}

.text-single-ellipsis{
  display: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@keyframes move1 {
  0% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-15px);
  }
}
@keyframes move2 {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
@keyframes move3 {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
